{% extends 'admin/master.html' %}
{% block body %}
<style type="text/css">
  body {
    margin-top: 10px;
  }
  #logout-button {
    margin-bottom: auto;
    text-align: right;
  }
  .data {
    margin-left: 50px;
    margin-right: 50px;
  }
</style>
<div class="container">
  <div class="hero-unit">
    <h2>Welclome to AiRead Data Viewer</h2>
    <p>You can view the data in this site, and add feed sources.</p>
    <p id="logout-button"><a href="{{ url_for('.logout') }}" class="btn btn-primary">Logout</a></p>
  </div>
  <div class="data well well-large">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Statistics</a></li>
        <li><a href="#tab2" data-toggle="tab">Nothing</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <table class="table table-bordered table-hover">
            <tr>
              <th>The number of users</th>
              <th>The number of feed sites</th>
              <th>The number of articles</th>
            </tr>
            <tr class="info">
              <td>{{ user_num }}</td>
              <td>{{ feed_site_num }}</td>
              <td>{{ article_num }}</td>
            </tr>
          </table>
        </div><!-- end tab1 -->
        <div class="tab-pane" id="tab2">
        </div><!-- end tab2 -->
      </div><!-- end tab-content -->
    </div><!-- end tabbable -->
  </div><!-- end data -->
</div><!-- end container -->
{% endblock %}
